version: '3'
services:

  blacklight:
    container_name: blacklight
    build:
      context: ./blacklight
      dockerfile: Dockerfile
    volumes:
      - ./blacklight/app:/app/app
    ports:
      - 4000:3000
      - 9394:9394
    command: "foreman s -f Procfile"
    environment:
      - SOLR_URL=http://solr:SolrRocks@solr1:8983/solr/ecommerce
      - PORT=3000
    depends_on:
      - solr1

  mysql:
    container_name: mysql
    image: amd64/mysql:5.7.37
    ports:
      - 3306:3306
    environment:
      - MYSQL_ROOT_PASSWORD=password
    volumes:
      - ./mysql/docker-entrypoint-initdb.d:/docker-entrypoint-initdb.d

  smui:
    container_name: smui
    build:
      context: ./smui
      dockerfile: Dockerfile
    ports:
      - 9000:9000
    environment:
      - SMUI_HEADLINE=Chorus SMUI
      - SMUI_DB_URL=jdbc:mysql://mysql:3306/smui?autoReconnect=true&useSSL=false&allowPublicKeyRetrieval=true
      - SMUI_DB_USER=root
      - SMUI_DB_PASSWORD=password
      - SMUI_DEPLOY_PRELIVE_SOLR_HOST=solr:SolrRocks@solr1:8983
      - SMUI_2SOLR_SOLR_HOST=solr:SolrRocks@solr1:8983
      - SMUI_TOGGLE_DEPL_PRELIVE=true
      - SMUI_TOGGLE_SPELLING=true
      - SMUI_TOGGLE_DEPL_CUSTOM_SCRIPT=true
      - SMUI_TOGGLE_DEPL_CUSTOM_SCRIPT_PATH=/smui/conf/smui2solrcloud.sh
      - SMUI_DEPLOY_PRELIVE_FN_RULES_TXT=/configs/ecommerce/rules.txt
      - SMUI_DEPLOY_PRELIVE_FN_REPLACE_TXT=/configs/ecommerce/replace-rules.txt
      - SMUI_TOGGLE_RULE_ID_LOGGING=true
      - SMUI_TOGGLE_EVENTHISTORY=true
      - SMUI_RULE_TAGGING_ACTIVE=true
      - SMUI_PREDEFINED_TAGS_FILE=/smui/conf/predefined_tags.json
    depends_on:
      - mysql

  solr1:
    container_name: solr1
    build: ./solr
    ports:
     - "8983:8983"
    environment:
      - SOLR_OPTS=-XX:-UseLargePages
      - SOLR_HEAP=800m
      - ZK_HOST=zoo1:2181,zoo2:2181,zoo3:2181
      - "SOLR_OPTS=-Dsolr.auth.jwt.allowOutboundHttp=true -Dsolr.modules=jwt-auth"
    volumes:
      - ./volumes/solr1/userfiles:/var/solr/data/userfiles
    depends_on:
      - zoo1
      - zoo2
      - zoo3
      - keycloak

  solr2:
    container_name: solr2
    build: ./solr
    ports:
     - "8984:8983"
    environment:
      - SOLR_OPTS=-XX:-UseLargePages
      - SOLR_HEAP=800m
      - ZK_HOST=zoo1:2181,zoo2:2181,zoo3:2181
      - "SOLR_OPTS=-Dsolr.auth.jwt.allowOutboundHttp=true -Dsolr.modules=jwt-auth"
    volumes:
      - ./volumes/solr2/userfiles:/var/solr/data/userfiles
    depends_on:
      - zoo1
      - zoo2
      - zoo3
      - keycloak

  solr3:
    container_name: solr3
    build: ./solr
    ports:
     - "8985:8983"
    environment:
      - SOLR_OPTS=-XX:-UseLargePages
      - SOLR_HEAP=800m
      - ZK_HOST=zoo1:2181,zoo2:2181,zoo3:2181
      - "SOLR_OPTS=-Dsolr.auth.jwt.allowOutboundHttp=true -Dsolr.modules=jwt-auth"
    volumes:
      - ./volumes/solr3/userfiles:/var/solr/data/userfiles
    depends_on:
      - zoo1
      - zoo2
      - zoo3
      - keycloak

  zoo1:
    image: zookeeper:3.7.0
    container_name: zoo1
    hostname: zoo1
    ports:
      - 2181:2181
      - 7001:7000
    environment:
      ZOO_MY_ID: 1
      ZOO_SERVERS: server.1=zoo1:2888:3888;2181 server.2=zoo2:2888:3888;2181 server.3=zoo3:2888:3888;2181
      ZOO_4LW_COMMANDS_WHITELIST: mntr, conf, ruok
      ZOO_CFG_EXTRA: "metricsProvider.className=org.apache.zookeeper.metrics.prometheus.PrometheusMetricsProvider metricsProvider.httpPort=7000 metricsProvider.exportJvmInfo=true"


  zoo2:
    image: zookeeper:3.7.0
    container_name: zoo2
    hostname: zoo2
    ports:
      - 2182:2181
      - 7002:7000
    environment:
      ZOO_MY_ID: 2
      ZOO_SERVERS: server.1=zoo1:2888:3888;2181 server.2=zoo2:2888:3888;2181 server.3=zoo3:2888:3888;2181
      ZOO_4LW_COMMANDS_WHITELIST: mntr, conf, ruok
      ZOO_CFG_EXTRA: "metricsProvider.className=org.apache.zookeeper.metrics.prometheus.PrometheusMetricsProvider metricsProvider.httpPort=7000 metricsProvider.exportJvmInfo=true"


  zoo3:
    image: zookeeper:3.7.0
    container_name: zoo3
    hostname: zoo3
    ports:
      - 2183:2181
      - 7003:7000
    environment:
      ZOO_MY_ID: 3
      ZOO_SERVERS: server.1=zoo1:2888:3888;2181 server.2=zoo2:2888:3888;2181 server.3=zoo3:2888:3888;2181
      ZOO_4LW_COMMANDS_WHITELIST: mntr,conf,ruok
      ZOO_CFG_EXTRA: "metricsProvider.className=org.apache.zookeeper.metrics.prometheus.PrometheusMetricsProvider metricsProvider.httpPort=7000 metricsProvider.exportJvmInfo=true"

  quepid:
    container_name: quepid
    image: o19s/quepid:6.11.0
    ports:
      - 3000:3000
    command: "foreman s -f Procfile"
    environment:
      - PORT=3000
      - RACK_ENV=production
      - RAILS_ENV=production
      - DATABASE_URL=mysql2://root:password@mysql:3306/quepid
      - FORCE_SSL=false
      - MAX_THREADS=2
      - WEB_CONCURRENCY=2
      - RAILS_LOG_TO_STDOUT=true
      - RAILS_SERVE_STATIC_FILES=true
      - SECRET_KEY_BASE=chorus_key
      - TC_URL=
      - PRIVACY_URL=
      - COOKIES_URL=
      - EMAIL_MARKETING_MODE=false
      - EMAIL_PROVIDER=
      - QUEPID_DEFAULT_SCORER=AP@10
      - KEYCLOAK_REALM=chorus
      - KEYCLOAK_SITE=http://keycloak:9080
      - SIGNUP_ENABLED=true
    links:
      - mysql
    depends_on:
      - mysql

  rre:
    container_name: rre
    build:
      context: ./rre
      dockerfile: Dockerfile
    volumes:
      - ./rre:/rre
    ports:
      - "7979:8080"
    command: "java -jar rre-server-1.1.jar"
    environment:
      - SOLR_URL=http://solr1:8983/solr/ecommerce
    depends_on:
      - solr1

  solr-exporter:
    image: solr:9.0.0
    container_name: solr-exporter
    hostname: solr-exporter
    ports:
     - 9854:9854
    command: /bin/bash -c "/usr/bin/wait-for-http-200.sh; export JAVA_OPTS='-Dsolr.httpclient.builder.factory=org.apache.solr.client.solrj.impl.PreemptiveBasicAuthClientBuilderFactory -Dsolr.httpclient.config=/home/basicauth.properties'; ./contrib/prometheus-exporter/bin/solr-exporter -p 9854 -z zoo1:2181,zoo2:2181,zoo3:2181 -f ./contrib/prometheus-exporter/conf/solr-exporter-config.xml -n 8 -s 15"
    volumes:
      - ./solr-exporter/wait-for-http-200.sh:/usr/bin/wait-for-http-200.sh
      - ./solr-exporter/basicauth.properties:/home/basicauth.properties
    depends_on:
      - solr1
      - solr2
      - solr3

  prometheus:
    image: prom/prometheus:v2.32.1
    container_name: prometheus
    restart: always
    hostname: prometheus
    ports:
      - 9090:9090
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
    volumes:
      - ./prometheus/:/etc/prometheus/

  grafana:
    image: grafana/grafana:7.5.13
    container_name: grafana
    restart: always
    hostname: grafana
    ports:
      - 9091:3000
    volumes:
      - ./grafana/provisioning/:/etc/grafana/provisioning/
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=password
      - GF_USERS_ALLOW_SIGN_UP=true
    depends_on:
      - prometheus

  keycloak:
    image: quay.io/keycloak/keycloak:16.1.0
    container_name: keycloak
    hostname: keycloak
    command: ["-b", "0.0.0.0", "-Dkeycloak.migration.action=import", "-Dkeycloak.migration.provider=dir", "-Dkeycloak.migration.dir=/opt/jboss/keycloak/realm-config", "-Dkeycloak.migration.strategy=OVERWRITE_EXISTING", "-Djboss.socket.binding.port-offset=1000", "-Dkeycloak.profile.feature.upload_scripts=enabled"]
    ports:
      - 9080:9080
      - 9443:9443
    environment:
      KEYCLOAK_USER: admin
      KEYCLOAK_PASSWORD: password
      DB_VENDOR: h2
    volumes:
      - ./keycloak/realm-config:/opt/jboss/keycloak/realm-config
