<!--
# Copied from https://github.com/projectblacklight/blacklight/blob/v7.19.2/app/components/blacklight/response/spellcheck_component.html.erb
# to pair with spellcheck_component.rb
-->
<div id="spell">
  <h3 class="suggest">
    <em>
      <%= t('blacklight.did_you_mean', options: safe_join(@options.map { |word| link_to_query(word) }, " #{t('blacklight.or')} ")).html_safe %>
    </em>
  </h3>
</div>
