<div class="jumbotron text-center">
  <h1 class="jumbotron-heading"><%= t('blacklight.welcome') %></h1>

  <p class="lead">Chorus is a multi-project open-source collaboration moving towards an open source stack for e-commerce search .</p>

  <p>
    <%= link_to 'Read the Documentation', 'https://querqy.org/docs/chorus/index.html', class: 'btn btn-primary' %>
    <%= link_to 'Join the Project', 'http://github.com/querqy/chorus', class: 'btn btn-outline-secondary' %>
  </p>
</div>

<div id="getting-started">
  <h2>Here are some queries to start with:</h2>

  <p>Do a query for <a href="/catalog?search_field=title&q=notebook">notebook<a>.</p>

</div>
