<div class="jumbotron text-center">
  <h1 class="jumbotron-heading"><%= t('blacklight.welcome') %></h1>

  <p class="lead">Chorus is a multi-project open-source collaboration building a better relevancy oriented stack for search.</p>

  <p>
    <%= link_to 'Read the Documentation', 'https://querqy.org/docs/chorus/index.html', class: 'btn btn-primary' %>
    <%= link_to 'See the online Demo', 'http://chorus.dev.o19s.com:4000', class: 'btn btn-outline-secondary' %>
    <%= link_to 'Join the Project', 'http://github.com/querqy/chorus', class: 'btn btn-outline-secondary' %>
  </p>
</div>

<div id="getting-started">
  <h2>Here are someplaces to start:</h2>

  <p>Do a query for <a href="/catalog?search_field=title&q=boot">boot<a>.</p>

</div>
