<div class="jumbotron text-center">
  <img align="left" src="/chorus-icon.png" width="100" height="100"/>
  <h1 class="jumbotron-heading">Welcome to <i>Chorus Electronics</i> online store!</h1>

  <p class="lead">Chorus is a multi-project open-source collaboration moving towards an open source stack for e-commerce search .</p>

  <p>
    <%= link_to 'Read the Documentation', 'https://querqy.org/docs/chorus/index.html', class: 'btn btn-primary' %>
    <%= link_to 'Join the Project', 'http://github.com/querqy/chorus', class: 'btn btn-outline-secondary' %>
  </p>
</div>

<div id="getting-started">
  <h2>Here are some queries to start with:</h2>

  <p>Do a query for <a href="/catalog?search_field=default_algo&q=notebook&view=gallery">notebook<a>.</p>
  <p>Are <i>notebooks</i> the same as <a href="/catalog?search_field=default_algo&q=laptops&view=gallery">laptops<a>?</p>
  <p>Look at  <a href="/catalog?search_field=default_algo&q=*&view=gallery">all products<a> in the catalog.</p>
  <p>Let's look at some <a href="/catalog?f%5Bfilter_t_product_type%5D%5B%5D=Drip+coffee+maker&q=coffee&search_field=default_algo&view=gallery">Drip coffee makers</a>.</p>
  <p>Notice that you can swap between the Default Algorithm and the Querqy Powered Algorithm from the drop down by the search bar?</p>
</div>
